@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}

@section Styles{

 <link rel="stylesheet" href="~/scss/home.css" />
}
 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi this is Rifat</p>
</div>

<div>
    <button class="myBtn">Button1</button>
    <button class="myBtn2">Button1</button>
</div>

<div class="firstSection">
    <button>Click Me</button>
</div>

<div>
    <p class="myPara">
        dskfjaldskfjas f sdfjkasjdfalsk lksdjf;aslidfjsa
        ofjas;dfjapsoif lksdjfa;sd fjpasodufjapoiefujroiawjdfalsk fjasd
        asdifjhapsoeifwpoiefja;sld fjpowqieu
    </p>
</div>